<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>通知</title>
</head>
<body>

    <h2>关于应聘单位一事</h2>
    <ol>
        <li>
            <p>相信大家都已经收到了团学博客的通知。我们将会在周四早上开启报名系统。</p>
            <p>这将允许大家进行修正（会重置原来已经报的单位）。如果对当前分配的（周二公布的）有异议，可以进行修改（除了105、23、42号单位【不可以报，也不可以改走】）</p>
            <p>部分单位因事无法参加活动，也不可以报名。每个单位报名人数上限32人</p>
        </li>
    </ol>
    <hr>

    <h2>补充通知<font color="red">(仔细阅读!!!)</font></h2>
    <li>
        <p>因为网络原因，团学博客服务器已经无法访问，请各班班长</p>
    </li>

    <p><b>如果您遇到任何问题/报错。</b>请务必发送邮件到lanzhijiang@foxmail.com，我们将会尽快为您提供帮助</p>
    <a href="http://119.29.85.53:8000">回到主页</a>

</body>
</html>