<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OIIS WEB-C端</title>
</head>
<body>

    <h1>OIIS WEB-CUSTOMER端</h1>


    <p>- 最新通知<a href="http://119.29.85.53:8000/desc">[点击此处查看相应的通知]</a></p>

    <h3>班级批次安排：</h3>
    <p>  - 第一批班级：1,2,3,4,5,6,10,11,12,13,14,15,16,17,18</p>
    <p>  - 第二批班级：7,8,9,19,20,21,22,23,24,25,26,27,201,202,203,204</p>
    <h3>  - <font color="red">注意！万万不可用微信直接打开</font></h3>

    <hr>

    <h2>操作项</h2>
    <p>- 点击下方的超链接进行操作</p>
    <div>
        <p>
            1、<a href="http://119.29.85.53:8000/confirm_data">确认面试单位（4.26-4.27）</a>
        </p>
    </div>

    <div>
        <p>
            2、<a href="http://119.29.85.53:8000/login">修改面试岗位（4.28早上-4.29晚上）</a>
        </p>
        <p>  - 说明：本着自由应聘的原则，如果您对强行分配到的单位不满意，可以自行切换到还有剩余名额的单位中</p>
        <p>  - 考虑到部分同学没有自习课，我们已经将时间延长到周五晚修前。需要注意！简历已经不能修改！</p>
        <p>  - 没有重置密码的同学的账号已经重新生成，为666666</p>
    </div>

    <div>
        <p>
            3、<a href="http://119.29.85.53:8000/logout">登出账户</a>
        </p>
        <p>  - 登出你的账户</p>
        <p>  - 点了之后没反应很正常，其实已经重新加载到主页了，而主页就是这里</p>
    </div>

    <hr>

    <h2>关于</h2>
    <p>
        没时间啦，只能做成这个样子了，能用就行，体谅一下好吧╮(╯-╰)╭
    </p>
    <p><b>如果您遇到任何问题/报错。</b>请务必发送邮件到lanzhijiang@foxmail.com，我们将会尽快为您提供帮助</p>
</body>
</html>
